body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline;
}

.productsList {
  display: flex;
  flex-wrap: wrap;
}

.productDetails {
  flex-grow: 2;
  max-width: 300px;
  padding: 10px;
}

.productImage {
  width: 200px;
}

#item-preview-container, #increment-decrement-container, #stock-price-container {
  display: flex;
  flex-wrap: wrap;
}

#increment-decrement-container, #increment-decrement-container>* {
  text-align: center;
}
